# Production
APP_ENV=production
APP_DOMAIN=aninternetpresence.net

APP_URL="https://demos.${APP_DOMAIN}"
MAIN_URL="https://${APP_DOMAIN}"
BRL_URL="http://brl.${APP_DOMAIN}"
CD_GAME_URL="https://cd-game.${APP_URL}"

# Local
#APP_ENV=local
#APP_DEBUG=true

# Run `php artisan key:generate` to set this for the environment
APP_KEY=SomeRandomString

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT_NUM=3308
DB_DATABASE=aip-demos
DB_USERNAME=aip-demos
DB_PASSWORD=aip-demos

TIME_ZONE=America/Phoenix

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

YELP_API_BASE_URI=https://api.yelp.com/v3/
YELP_API_KEY=

VITE_GOOGLE_API_KEY=

AWS_URL=https://aip-prod.s3.us-west-2.amazonaws.com/public
