@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

@import "~bootstrap/scss/bootstrap";

@import 'main';
/*
	Set the html and body height to allow relative unit sizes
	for the contained divs.
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.3em;
}

address {
    font-size: 1.2em
}

.hide {
    display: none;
}

.gm-style-iw > div {
    overflow: hidden !important;
}

#app, #map {
    height: 100%;
}

#map h1 {
    font-family: 'Dancing Script', cursive;
}

#messages {
    width: 100%;
    display: none;
}

#messages.show {
    display: block;
}

#messages.warning {
    background-color: rgba(255, 200, 10, 0.4);
}

#messages.success {
    background-color: rgba(10, 200, 10, 0.4);
}

#messages.error {
    background-color: rgba(200, 10, 10, 0.4);
}

#marker_menu {
    width: 23em;
    background: rgba(255, 255, 255, 0.5);
    max-height: 60em;
    overflow-y: auto;
    overflow-x: hidden;
}

#marker_menu_buttons_list {
    list-style-type: none;
}

#marker_menu_buttons_list button {
    font-size: 1em;
}

#marker_menu_buttons_list .button_container {
    display: inline-block
}

#marker_menu_buttons_list .button_container {
    display: inline-block
}

#marker_list {
    font-size: 1.2em;
    padding: 0;
}

#marker_list .btn {
    height: 2.5em;
}

#marker_list li {
    list-style-type: none;
    background: rgba(200, 252, 255, 0.32);
    border: 0.2em solid transparent;
}

#marker_list li:nth-child(even) {
    background: rgba(241, 254, 255, 0.32);
}

#marker_list li.hovering, #marker_list li:hover {
    border-color: black;
}

#marker_list li.selected {
    border-color: #CCC;
}

#marker_list li div:first-child {
    margin-bottom: 2%;
}

.marker_list_label_header {
    height: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    position: relative;
}

.marker_list_label_header_container:hover .marker_list_label_header:after {
    content: '\270e';
    position: absolute;
    right: 0;
}

.material-icons {
    font-size: 1.1em;
}

#infowindow {
    min-width: 28em;
}

.progress_container {
    text-align: center;
}

.progress_container.active {
    height: 4em;
}

.progress_indicator {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
    width: auto;
    font-size: 3em;
}

.service_container.active{
    overflow: auto;
    height: 400px;
}

#siteinfo {
    font-size: 1.2em;
}

#siteinfo_button {
    line-height: 0.5;
}

#streetview_container{
    height: auto;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

.reviews {
    margin-top: 5%;
}

#search-my-backyard-body #site-nav .breadcrumb{
    margin-bottom: 0;
}

.wikipedia_image_list_item {
    width: 10em;
    height: 10em;
}

#wikipedia_content .wikipedia_image_list_item img {
    max-width: 100%;
    max-height: 100%;
}
