@CHARSET "utf-8";

#uicontrols {
    position: absolute;
    right: 0;
    top: 0;

    .uicontrol-header-div {
        background: rgba(255, 255, 255, 0.8);
        border: black dotted 0.1em;
        padding: 0.8em;
        font-size: 0.6em;

        header {
            font-size: 2em;
            text-align: center;
        }

        h1 {
            font-family: 'Dancing Script', cursive;
            margin: 2%;
            font-size: 1.2em;
        }
    }
}

@media (min-width: 768px) {
    #uicontrols {
        .uicontrol-header-div {
            width: 23em;
        }
    }
}

